@model IEnumerable<MovieCustomerMvcAppWithAuthentication.Models.Movie>
@{
    ViewBag.Title = "MovInd";
}

<h2>Movies Details</h2>
@Html.ActionLink("NewMovie", "Create", "Movies", null, new { @class = "btn btn-success" })

@if (!Model.Any())
{
    <p>No Movies Yet</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>MovieName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>@Html.ActionLink(movie.Name, "MovDetails", "Movies", new { id = movie.Id }, null)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = movie.Id }, new { @class = "btn btn-success" })</td>
                <td>@Html.ActionLink("Delete", "DeleteM", new { id = movie.Id }, new { @class = "btn btn-success" })</td>
            </tr>
            }
        </tbody>
    </table>

}
